body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

::shadow div {
  z-index: 1 !important;
}

.highlight {
  box-shadow: 0 0 10px #940650;
}

h1 {
  padding: 10px;
}

#logo-pop {
  position: absolute;
  top: 95px;
  right: 50%;
  -moz-transform: translateX(50%);
  transform: translateX(50%);
}

#bubblegum {
  width: 100%;
  text-align: center;
}

#notridifortis {
  height: 30px;
  width: 500px;
}

#header-text {
  color: white;
}

#in {
  margin-top: 50px !important;
  width: 90% !important;
}

#vr {
  display: none;
  border-left: 1px dashed #940650;
  height: 100%;
  transform: translateY(-100vh);
  opacity: 0;
  animation: vrPop 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  z-index: -1;
  position: fixed;
}

#form {
  display: none;
  vertical-align: top;
  width: calc(50% - 30px);
  margin-top: 11%;
  border-radius: 3px;
  animation: formPop 2s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  padding: 10px;
}

#wut {
  display: none;
  position: relative;
  vertical-align: top;
  width: calc(50% - 36px);
  min-height: 58%;
  margin-top: 5px;
  padding-left: 35px;
  padding-bottom: 60px;
  animation: wutPop 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 2;
}

.here {
  position: relative;
  padding: 2px 4px;
  border: 1px solid #940650;
  border-radius: 3px;
}
.here:hover {
  cursor: help;
  background-color: #940650;
  color: white !important;
}

.step {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #940650;
  border: 1px solid #940650;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  margin-right: 8px;
  margin-bottom: 50px;
}
#wut h1 {
  font-weight: 200;
}
#wut h1, #wut p, #wut p span {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #940650;
  text-align: left;
}
#wut p {
  display: inline-block;
  font-size: 1.2em;
  width: 80%;
  margin: 0;
  line-height: 30px;
  font-weight: 300;
}

input[type=submit] {
  cursor: pointer;
}

#wut h1 {
  padding-right: 20%;
}

@keyframes formPop {
  0% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes wutPop {
  0% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes vrPop {
  35% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
